<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <h2> Change Password </h2> 
        <br>
        <h4 style="color: red;"> <%= @message %> </h4>
        <br>
            <form action="/changepassword" method="POST">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <input class="form-control" type="hidden" name="token" value="<%= params[:token]%>"> <br>
                <label for="email"> New Password </label> 
                <input class="form-control" type="password" name="password" placeholder="Enter your new password"> <br>
                <label for="email"> Confirm Password </label> 
                <input class="form-control" type="password" name="c_password" placeholder="Confirm your new password"> 

                <br><br>

                <button class="btn btn-danger btn-lg btn-block">Submit</button>
            </form>

        <br><br><br>
    </div>
</div>