<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Looks like you forgot your password</p>
    <%= link_to "Reset Password", forgotpassword_edit_url(email: @email) %>
  </body>
</html>